<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>

    <!-- sweet alaer2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- toggle Switch -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>



    <script  type="text/javascript" src="{{url_for('static', filename='lab.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

    <link href="{{ url_for('static', filename='lab.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>虛擬實驗室</title>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>



    
    <script>
      function init(){
        var rslt = '{{rslt}}'
        window.glob = rslt;

        if (rslt != "False")
        {
          rslt = rslt.split('&#39;').join('"');

          var seg = JSON.parse(rslt).output;
          for(i = 0;i < seg.length; i++)
          {

            var switch_txt = "";
            for(j  = 0; j < (seg[i].led).length; j++)
            {

              if ((seg[i].led)[j] == 1)
              {
                switch_txt = switch_txt + " " + j;
              }
            }
            console.log(switch_txt);
            $('#tbody').append(`<tr id=row`+ i +`><th scope="row">`+ i +`
            <td></td>
            <td>` + switch_txt + `</td>
            </th></tr>`);
          }
        }
        else
        {
          console.log("boo");
        }
      }
    </script>
  </head>
  <body onload="init()">
    <!-- navbar -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Virtual Lab</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarsExample02"
          aria-controls="navbarsExample02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <input id="toggle-demo" type="checkbox" data-toggle="toggle">
        
        <b style="color: white;">||</b>

        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="edit.html">Edit-instrution</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="upload.html">Upload</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- de0 -->
    <div class="container">
      <div class="row mb-3">
        <!-- pg generator -->
        <div class="col-md-4 themed-grid-col div-fixd">

          <div class="card-title fnt-weight-bold mt-4 d-inline">
            <form action="/upload" method=post enctype=multipart/form-data>
              <input type="file" name="upload_file" />
              <br /><br />
              <input type="submit" name="tmp_fn" id='smit'/>
              <!-- <button class="btn rounded-pill bg-light ml-3" type="submit" onclick="checkUpload()">
                <i class="bi bi-save"></i> 確認上傳
              </button> -->
              <!-- <input type="submit" /> -->
            </form>
          </div>



          <!-- Action content -->
          <div class="card text-center" >
            <div class="card-header">
              <button type="button" class="button btn"><i class="bi bi-sticky"></i></button>
              <button type="button" class="button btn"><i class="bi bi-arrow-up" onclick="arrowUp()"></i></button>
              <button type="button" class="button btn"><i class="bi bi-arrow-down" onclick="arrowDown()"></i></button>
              <button type="button" class="button btn"><i class="bi bi-caret-right-fill" onclick="play()"></i></button>      
              <button type="button" class="button btn"><i class="bi bi-pause" onclick="pause()"></i></button>
              <select class="selectpicker" id="timeunit">
                <option value = "1000">1 秒</option>
                <option value = "2000">2 秒</option>
                <option value = "5000">5 秒</option>
                <option value = "10000">10 秒</option>
            </select>
            </div>
            <div class="card-body my-custom-scrollbar my-custom-scrollbar-primary" style="overflow:scroll;height:100%;width:100%;overflow:auto">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Button</th>
                    <th scope="col">Switch</th>
                  </tr>
                </thead>
                <tbody id="tbody">
                  <!-- <tr>
                    <th scope="row">0</th>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="row-now">
                    <th scope="row">1</th>
                    <td>0 2 </td>
                    <td>1 2 4 5 6 7 8 9</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>0 1 2</td>
                    <td></td>
                  </tr> -->
                  
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <!-- diplay de0 -->
        <div class="col-md-8 themed-grid-col ">
          <div class="row">
            <div class="col-md-12 ">
              <!-- 七段顯示器 -->
              <div class="card" >
                <h5 class="card-header">Seven-segment</h5>
                <div class="card-body card-io" style="margin: auto;">
                  <div class="seven-segment">
                    <div id="3_a" class="3 a"></div>
                    <div id="3_b" class="3 b"></div>
                    <div id="3_c" class="3 c"></div>
                    <div id="3_d" class="3 d"></div>
                    <div id="3_e" class="3 e"></div>
                    <div id="3_f" class="3 f"></div>
                    <div id="3_g" class="3 g">
                      <div id="3_top" class="3 h on"></div>
                      <div id="3_bottom" class="3 i on"></div>
                    </div>
                    <!-- . -->
                    <div class="3 j"></div>
                  </div>
                  <div class="seven-segment">
                    <div id="2_a" class="2 a"></div>
                    <div id="2_b"class="2 b"></div>
                    <div id="2_c"class="2 c"></div>
                    <div id="2_d"class="2 d"></div>
                    <div id="2_e"class="2 e"></div>
                    <div id="2_f"class="2 f"></div>
                    <div id="2_g"class="2 g">
                      <div id="2_top"class="h"></div>
                      <div id="2_bottom"class="i"></div>
                    </div>
                    <div class="2 j"></div>

                  </div>
                  <div class="seven-segment">
                    <div class="1 a"></div>
                    <div class="1 b"></div>
                    <div class="1 c"></div>
                    <div class="1 d"></div>
                    <div class="1 e"></div>
                    <div class="1 f"></div>
                    <div class="1 g">
                      <div class="1 h"></div>
                      <div class="1 i"></div>
                    </div>
                    <div class="1 j"></div>

                  </div>
                  <div class="seven-segment">
                    <div class="0 a"></div>
                    <div class="0 b"></div>
                    <div class="0 c"></div>
                    <div class="0 d"></div>
                    <div class="0 e"></div>
                    <div class="0 f"></div>
                    <div class="0 g">
                      <div class="0 h"></div>
                      <div class="0 i"></div>
                    </div>
                    <div class="0 j"></div>

                  </div>
                </div>
              </div>
            
            </div>
            <!-- LED -->
            <div class="col-md-12 ">
              <div class="card">
                <h5 class="card-header">LED</h5>
                <div class="card-body card-io">
                  <div class="9 button-div bg-red"></div>
                  <div class="8 button-div"></div>
                  <div class="7 button-div"></div>
                  <div class="6 button-div"></div>
                  <div class="5 button-div"></div>
                  <div class="4 button-div"></div>
                  <div class="3 button-div"></div>
                  <div class="2 button-div"></div>
                  <div class="1 button-div"></div>
                  <div class="0 button-div"></div>
                </div>
              </div>
            </div>

            <!-- switch & button -->
            <div class="col-md-12 ">
              <div class="card">
                <h5 class="card-header">Switch & Button</h5>
                <!-- Switch: checked on  -->                
                <div class="card-body card-io" >
                  <input id="switch9" type="checkbox" data-toggle="toggle" data-onstyle="outline-dark" data-offstyle="outline-dark" data-size="sm">&ensp;
                  <input id="switch8" type="checkbox" data-toggle="toggle" data-onstyle="outline-dark" data-offstyle="outline-dark" data-size="sm">&ensp;
                  <input id="switch7" type="checkbox" data-toggle="toggle" data-onstyle="outline-dark" data-offstyle="outline-dark" data-size="sm">&ensp;
                  <input id="switch6" type="checkbox" data-toggle="toggle" data-onstyle="outline-dark" data-offstyle="outline-dark" data-size="sm">&ensp;
                  <input id="switch5" type="checkbox" data-toggle="toggle" data-onstyle="outline-dark" data-offstyle="outline-dark" data-size="sm">&ensp;
                  <input id="switch4" type="checkbox" data-toggle="toggle" data-onstyle="outline-dark" data-offstyle="outline-dark" data-size="sm">&ensp;
                  <input id="switch3" type="checkbox" data-toggle="toggle" data-onstyle="outline-dark" data-offstyle="outline-dark" data-size="sm">&ensp;
                  <input id="switch2" type="checkbox" data-toggle="toggle" data-onstyle="outline-dark" data-offstyle="outline-dark" data-size="sm">&ensp;
                  <input id="switch1" type="checkbox" data-toggle="toggle" data-onstyle="outline-dark" data-offstyle="outline-dark" data-size="sm">&ensp;
                  <input id="switch0" type="checkbox" data-toggle="toggle" data-onstyle="outline-dark" data-offstyle="outline-dark" data-size="sm">&ensp;
                </div>        
                <!-- button -->
                <div class="card-body card-io" style="padding-top: 0%;">
                  <input type="checkbox" data-toggle="toggle" data-onstyle="dark" data-offstyle="dark" data-style="quick" data-on="Click" data-off="  ">&ensp;
                  <input type="checkbox" data-toggle="toggle" data-onstyle="dark" data-offstyle="dark" data-style="quick" data-on="Click" data-off="  " >&ensp;
                  <input type="checkbox" data-toggle="toggle" data-onstyle="dark" data-offstyle="dark" data-style="quick" data-on="Click" data-off="  ">&ensp;
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
